@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:-webkit-any-link {
  color: #fff;
}
/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding-left: 80px;
  margin: auto;
}
.about,
.services,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}

section .title-skills {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title-skills::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #fff;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: #0044ff;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  /* background: #0d02a7; */
  background: #0044ff;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.navbar .logo img {
  padding-left: 10px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: #0044ff;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #0044ff;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */

.home {
  display: flex;
  background-color: #111;
  color: #fff;

  font-family: "Poppins", sans-serif;
}
.home .max-width {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: flex;
}
.home .max-width .row {
  margin-right: 0;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: #0044ff;
  font-weight: 500;
}

.home .home-icons {
  display: inline-block;
  color: #fff;
}

.home .home-content a {
  display: inline-block;
  color: #fff;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 400;

  transition: all 0.3s ease;
}
.home .home-content .btn-sb:hover {
  color: #0044ff;
  background: none;
}

.btn-sb {
  background: #0044ff;
  border-radius: 6px;
  border: 2px solid #0044ff;
  padding: 12px 36px;
}
.social-medias {
  display: inline-block;
  font-size: 44px;
  animation: float 5s ease-in-out infinite;
}
/* .icons {
    display: inline-block;
    animation: float 5s ease-in-out infinite;
} */
.fa-github {
  animation-delay: 1s;
}

.fa-linkedin-in {
  animation-delay: 2s;
}

.home .social-media {
  font-size: 24px;
  transition: all 0.3s ease;
  padding: 10px;
  color: #fff;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

/* About */

.about .about-content .left {
  width: 45%;
}
.about-img {
  width: 400px;
  border-radius: 50%;
  padding: auto;
}
.about .about-content .right {
  width: 45%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: #0044ff;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: #0044ff;
  background: none;
}
.cv {
  background: #0044ff;
  color: #fff;
  border-radius: 6px;
  border: 2px solid #0044ff;
  padding: 10px 30px;
}
.download {
  padding: 10px;
}
.about .social-media {
  font-size: 24px;
  transition: all 0.3s ease;
  padding: 9px;
  color: #0044ff;
}
.social-media:hover {
  font-size: 28px;
  text-shadow: 0 0 10px #0044ff;
}

/* Services  */

.services,
.projects {
  color: #fff;
  background: #111;
}
.services .title::before,
.projects .title::before {
  background: #fff;
}
.services .title::after,
.projects .title::after {
  background: #111;
  content: "que ofereço";
}
.services .serv-content .card {
  width: calc(45% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: #0044ff;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card i {
  font-size: 50px;
  color: #0044ff;
  transition: color 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/* skills */

.skills .title::after {
  content: "o que faço";
}

/* .skills {
  background-color: black;
  color: #fff;
} */
.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.skills .column .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: #0044ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #0044ff;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: #0044ff;
  background: none;
}
.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #0044ff;
}
.skills-content .right .noventa::before {
  width: 90%;
}
.skills-content .right .oitenta::before {
  width: 80%;
}
.skills-content .right .setenta::before {
  width: 70%;
}
.skills-content .right .sessenta::before {
  width: 60%;
}
.skills-content .right .cinquenta::before {
  width: 50%;
}
.skills-content .right .quarenta::before {
  width: 40%;
}
.skills-content .right .trinta::before {
  width: 30%;
}
.skills-content .right .vinte::before {
  width: 20%;
}
.skills-content .right .vinteecinco::before {
  width: 25%;
}

.projects .title::after {
  content: "meus projetos";
}
.projects .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 0px 0px 50px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover {
  background: #0044ff;
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(1.05);
}
.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.projects .carousel .card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
  border-color: #fff;
}

.projects-icons {
  position: absolute;
  bottom: 0;
  right: 1%;
  font-size: 24px;
  transition: all 0.3s ease;
  padding: 10px;
  color: #fff;
}

.projects-icon {
  padding: 2px;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #0044ff !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #0044ff !important;
}

/* contact section styling */
.contact .title::after {
  content: "fale comigo";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}

.msg {
  font-size: 25px;
  color: #0044ff;
  padding: 0 10px;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  display: flex;
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
  margin-top: 10px;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #0044ff;
}

.icons .right {
  margin-right: 50px;
}

.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid #8a8787;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #8a8787;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #0044ff;
  border: 2px solid #0044ff;
  transition: all 0.3s ease;
}
.right form .button-area button:hover {
  color: #0044ff;
  background: none;
}
/* footer section styling */
footer {
  background: black;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: #0044ff;
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}

/*==================== SKILLS ====================*/
.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  justify-content: space-between;
}

.skills__div {
  display: flex;
  flex-direction: row;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: #0044ff;
}

.skills__icon {
  margin-right: 0.75rem;
}

.skills__subtitle {
  font-size: 0.813rem;
  color: #6d6a7c;
}

.skills__arrow {
  margin-left: 0.75rem;
  transition: 0.4s;
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: 0.5rem;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
  margin-bottom: 2.5rem;
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

/* responsive media query start */
@media (max-width: 1440px) {
  .home {
    background-position: 43vw 10vh;
  }
}

@media (max-width: 1104px) {
  .about-img {
    width: 400px;
  }

  .contact .contact-content .left .icons {
    display: flex;
    flex-flow: row wrap;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\0044ff";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
  }

  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text {
    font-size: 19px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .right form .error-box {
    width: 150px;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
